#DATABASE_URL  = postgresql+asyncpg://user:password@rds-endpoint:5432/dbname
#REDIS_URL     = redis://localhost:6379
#OPENAI_API_KEY =
#AWS_ACCESS_KEY_ID =
#AWS_SECRET_ACCESS_KEY =
#AWS_REGION = ap-northeast-2
#AWS_S3_BUCKET_NAME =

# 임베딩 모델
#EMBEDDING_MODEL = snunlp/KR-SBERT-V40K-klueNLI-augSTS
