onnxruntime==1.19.2
transformers==4.44.2
numpy==1.26.4
aiomysql==0.3.2
greenlet==3.3.2
PyMySQL==1.1.2
SQLAlchemy==2.0.48
typing_extensions==4.15.0
python-multipart==0.0.12
webrtcvad-wheels==2.0.14
redis[asyncio]==5.2.1
google-generativeai>=0.8.0
urllib3==2.7.0
uvicorn==0.47.0
uvloop==0.22.1
watchfiles==1.2.0
websocket-client==1.9.0
websockets==16.0
wrapt==2.1.2
yarl==1.23.0
zipp==4.1.0
